<style>
*
{
  backround-color: "A9A9A9"
}
  h1
{
  background-color: "rgb(0, 0, 0)";
  font-style:bold;
}
p 
{
  font-family: "Trebuchet MS", Trebuchet MS, sans-serif;
}
window.onload = function() {
   let myiFrame = document.getElementById("myiFrame");
   let doc = myiFrame.contentDocument;
   doc.body.innerHTML = doc.body.innerHTML + '<style>/******* Put your styles here *******</style>';
}
</style>
