
<style>
			*
			head, body
			{
				text-align:center;
				line-style-position:inside;
				padding-left: 0pt;
				backround-color: #A9A9A9;
				font-family: "Times New Roman", Times, serif;
				
			}
			h1
			{
				font-size:50px; font-weight:bold
			}
			ul
			{
				font-style:underline; font-weight:bold
			}
		</style
