
<style>
			*
			{
				text-align:center;
				line-style-position:inside;
				padding-left: 0pt
			}
			h1
			{
				font-size:50px; font-weight:bold
			}
			ul
			{
				font-style:underline; font-weight:bold
			}
		</style
